.bg-green {
    background-color: #198754;
}

.text-green {
    color: #198754;
}

/* .border-green {
    border: 1px solid #198754;
} */

.border-green:focus {
    border: 1px solid #198754;
}

/* .bg-food {
    background-image: url('../../public/images/food.jpg');
    background-size: 900px 900px;
} */